<mat-toolbar>
    <span class="Hover" routerLink="/staticpagehome"><h2>Home</h2></span>
    <span class="example-spacer"></span>
    <span class="Hover" routerLink="/whatwedo"><h2>Services</h2></span>
    <span class="example-spacer"></span>
    <span class="Hover"><h2>Contact Us</h2></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon class="Hover" routerLink="/user">power_settings_new</mat-icon>
    </button>
</mat-toolbar>
<div>
    <img src="./assets/NatureImage1.jpg" alt="Hello" class="img">
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <mat-card class="card-border-left">
                    <mat-card-content>
                        <h1 class="title">
                            Who are we?
                        </h1>
                        <br>
                        <h5 class="content">
                            <span class="highlight">Green Future Solutions Pty LTD (GFS)</span> is a South African based
                            company and is 100% black owned.
                            We purchase recyclable commodities, enabling our customers to focus on their core business.
                            Underlying in every relationship, each transaction is a constant commitment to <span
                                class="highlight">high integrity</span>.
                        </h5>
                        <br>
                        <h5 class="content">
                            Green Future Solutions Pty LTD (GFS)’s operation have a <span class="highlight">positive
                                impact
                                on the environment</span>
                            through the processing and conservation of <span class="highlight">metals</span>, <span
                                class="highlight">used oil</span>,
                            <span class="highlight">glass</span>, <span class="highlight">plastics</span> and <span
                                class="highlight">other non-
                                renewable resource</span>. Consistent with these core operations, it is our goal to
                            accomplish its business objectives while meeting and <span class="highlight">exceeding the
                                quality,
                                environmental and health and safety expectations</span> of staff and clients
                        </h5>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="card-border-left">
                    <mat-card-content>
                        <h1 class="title">
                            What services do we provide?
                        </h1>
                        <br>
                        <h5 class="content">
                            We collect a variety of objects which we will <span class="highlight">remove and dispose
                                of</span>.
                        </h5>
                        <br>
                        <h5 class="content">
                            <span class="highlight">Used oil</span>,
                            <span class="highlight">Used tyres</span>,
                            <span class="highlight">Scrap Metal</span>,
                            <span class="highlight">Paper</span>,
                            <span class="highlight">Cardboard</span>,
                            <span class="highlight">Bottles</span>,
                            <span class="highlight">Plastic</span>.
                        </h5>
                        <br>
                        <h5 class="content">
                            We also offer skip services for <span class="highlight">domestic garden waste
                                removal</span>,
                            <span class="highlight">domestic rubbish removal</span>, <span class="highlight">building
                                rubble removal for small and medium sized construction sites</span>,
                            <span class="highlight">Sand, stone and topsoil delivery</span>, <span
                                class="highlight">Compost and fertilizer delivery</span>.
                        </h5>
                        <br>
                        <h5 class="content">
                            Monthly contracts can also be negotiated. <span class="highlight">Security estates</span>,
                            <span class="highlight">townhouse complexes</span>,
                            <span class="highlight">business parks</span>
                            , <span class="highlight">hospitality venues</span> and <span
                                class="highlight">schools</span>.
                        </h5>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <br>
</div>
<app-footer></app-footer>