<div class="modal-content" >
      <div class="modal-header">
      <h4 class="modal-title">Employment Statuses</h4>
        <button (click)=" Close()" type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
        <table class="table table-hover align-middle">
          <tbody>
            <tr *ngFor="let item of employmentStatusList">
            <td class="col-5"><span>{{item.employmentStatusName}}</span></td>
                <td class="icon-hover">
                <mat-icon (click) ="routerEditEmploymentStatuses(item.employmentStatusId, item.employmentStatusName)">edit</mat-icon>
                </td>
                <td class="icon-hover">
                <mat-icon (click) ="onDelete(item.employmentStatusId)">delete</mat-icon>
                </td>
            </tr>
            <br>
        <button type="button" class="btn btn-success" (click) ="routerAddEmploymentStatuses()">Add </button>

