<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Quotes</div>
    <div class="page__content shadow p-3">
      <div class="page__content-data">
         <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>

        <br>
        <br>
         <table mat-table [dataSource]="quoteLineList" class="mat-elevation-z8">
             <ng-container matColumnDef="QuoteLineId">
                <th mat-header-cell *matHeaderCellDef> Quote Line Id </th>
                <td mat-cell *matCellDef="let element"> {{element.quoteLineId}} </td>
             </ng-container>
             <ng-container matColumnDef="IssuedDate">
               <th mat-header-cell *matHeaderCellDef>Date Issued </th>
               <td mat-cell *matCellDef="let element"> {{element.issuedDate}} </td>
              </ng-container>
              <ng-container matColumnDef="Service">
                <th mat-header-cell *matHeaderCellDef> Service </th>
                <td mat-cell *matCellDef="let element"> {{element.serviceName}} </td>
               </ng-container>
               <ng-container matColumnDef="ServiceType">
                <th mat-header-cell *matHeaderCellDef> Service Type </th>
                <td mat-cell *matCellDef="let element"> {{element.serviceTypeName}} </td>
               </ng-container>
              <ng-container matColumnDef="Generate">
                <tr><th mat-header-cell *matHeaderCellDef> Create Quote </th></tr>
                <tr>
                  <td mat-cell *matCellDef="let element" style="width:20%">
                     <button mat-icon-button (click)="routerGenerateQuote()" title="Generate Quote"><mat-icon>receipt</mat-icon></button>
                  </td>
                </tr>
              </ng-container>
              <ng-container matColumnDef="View">
                <tr><th mat-header-cell *matHeaderCellDef> View Quote </th></tr>
                <tr>
                  <td mat-cell *matCellDef="let element" style="width:20%">
                     <button mat-icon-button color="danger" title="Send Quote"><mat-icon>remove_red_eye</mat-icon></button>
                  </td>
                </tr>
              </ng-container>
               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
        </table>

      </div>
    </div>
  </div>


