<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Quotes</div>
    <div class="page__content shadow p-3">
      <div class="page__content-data">
         <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>

        <br>
        <br>
         <table mat-table [dataSource]="quoteList" class="mat-elevation-z8">
             <ng-container matColumnDef="quoteid">
                <th mat-header-cell *matHeaderCellDef> Quote ID </th>
                <td mat-cell *matCellDef="let element"> {{element.quoteId}} </td>
             </ng-container>
             <ng-container matColumnDef="empFirstName">
               <th mat-header-cell *matHeaderCellDef> Employee First Name </th>
               <td mat-cell *matCellDef="let element"> {{element.employeeFirstName}} </td>
              </ng-container>
              <ng-container matColumnDef="quoteDescription">
               <th mat-header-cell *matHeaderCellDef> Quote Description </th>
               <td mat-cell *matCellDef="let element"> {{element.quoteDescription}} </td>
              </ng-container>
              <ng-container matColumnDef="serviceName">
                <th mat-header-cell *matHeaderCellDef> Service </th>
                <td mat-cell *matCellDef="let element"> {{element.quoteDescription}} </td>
               </ng-container>
               <ng-container matColumnDef="servicePrice">
                <th mat-header-cell *matHeaderCellDef> Service Price </th>
                <td mat-cell *matCellDef="let element"> {{element.servicePriceAmount}} </td>
               </ng-container>
              <ng-container matColumnDef="date">
               <th mat-header-cell *matHeaderCellDef> Issued Date </th>
               <td mat-cell *matCellDef="let element"> {{element.issuedDate}} </td>
              </ng-container>
              <ng-container matColumnDef="generate">
                <tr><th mat-header-cell *matHeaderCellDef> Generate Quote </th></tr>
                <tr>
                  <td mat-cell *matCellDef="let element" style="width:20%">
                     <button mat-icon-button (click)="routerGenerateQuote()" title="Generate Quote"><mat-icon>receipt</mat-icon></button>
                  </td>
                </tr>
              </ng-container>
              <ng-container matColumnDef="send">
                <tr><th mat-header-cell *matHeaderCellDef> Send Quote </th></tr>
                <tr>
                  <td mat-cell *matCellDef="let element" style="width:20%">
                     <button mat-icon-button color="danger" title="Send Quote"><mat-icon>send</mat-icon></button>
                  </td>
                </tr>
              </ng-container>
               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
        </table>

      </div>
    </div>
  </div>


