@import "src/styles.scss";

.myCard {
  height: auto;
  width: auto;
  margin: 1rem;
}

.heading {
  font-family:'Montserrat', sans-serif;
  font-size: medium;

}

.thick{
  font-weight:bold;
}

table {
  width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }