<!DOCTYPE html>
<html lang="en">
<body>
    <div class="modal-body" style="width: 50rem; height: 30rem;">
        <h3>*Collection Note Number*</h3>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col">
                    <br>
                        <h5>Client Details</h5>
                         <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Client Name:</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Manesha"
                            aria-label=".form-control-sm example">
                        
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Client Cellphone Number:</label>
                        <input class="form-control form-control-sm" type="text" placeholder="071 872 1911"
                            aria-label=".form-control-sm example">
                            <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Client Location</label>
                        <input class="form-control form-control-sm" type="text" placeholder="28 Farmer's Folly"
                            aria-label=".form-control-sm example">
                    </div>

                    <div class="col">
                        <br>
                      <h5>Employee Details</h5>        
                       <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Employee Name:</label>
                      <input class="form-control form-control-sm" type="text" placeholder="Rowan Gauld"
                            aria-label=".form-control-sm example">
                        
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Employee Cellphone Number:</label>
                        <input class="form-control form-control-sm" type="text" placeholder="083 560 6982"
                            aria-label=".form-control-sm example">

                            <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Employee ID Number:</label>
                        <input class="form-control form-control-sm" type="text" placeholder="3481"
                            aria-label=".form-control-sm example">
                    </div>             

                    <div class="col">
                    <br>
                      <h5>Collection Details</h5>    
                     <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Date:</label><br>
                    <mat-form-field appearance="fill">
                        <mat-label>Select a date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <br>                    
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Time In:</label>
                        <input type="time" id="inputMDEx1" class="form-control form-control-sm">
                   
                    </div>                               
                  
                </div>
            </div>
            
            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-outline-danger" type="button">Close</button>
                        </div>
        </div>
    </div>
</body>

</html>
