<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="modal-body" style="width: 40rem; height: auto;">
        <h3>*Client Name*</h3>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <form>
                          <mat-form-field appearance="fill">
                            <mat-label>Company Name</mat-label>
                            <input matInput placeholder="Coco-Cola" readonly>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Client Name</mat-label>
                            <input matInput placeholder="Audrey Sir" readonly>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Email Address</mat-label>
                            <input matInput placeholder="audreysir@gmail.com" readonly>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Client Cellphone number</mat-label>
                            <input matInput placeholder="0714563278" readonly>
                          </mat-form-field>
                        </form>
                    </div>
                    <div class="col">
                        <form>
                          <mat-form-field appearance="fill">
                            <mat-label>Client Province</mat-label>
                            <input matInput placeholder="Gauteng" readonly>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Client City</mat-label>
                            <input matInput placeholder="Pretoria" readonly>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Client Suburb</mat-label>
                            <input matInput placeholder="Centurion" readonly>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Client Street</mat-label>
                            <input matInput placeholder="10 Queen Street" readonly>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Email Address</mat-label>
                            <input matInput placeholder="" readonly>
                          </mat-form-field>
                        </form>
                            <button mat-raised-button (click)="Close()" color="warn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>