<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="modal-body" style="width: 40rem; height: 25rem;">
        <h3>*Client Name*</h3>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Company Name</label>
                        <input class="form-control form-control-sm" type="text" placeholder=""
                            aria-label=".form-control-sm example" readonly>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Client Name</label>
                        <input class="form-control form-control-sm" type="text" placeholder=""
                            aria-label=".form-control-sm example" readonly>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Client Email Address</label>
                        <input class="form-control form-control-sm" type="text" placeholder=""
                            aria-label=".form-control-sm example" readonly>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Client Cellphone Number</label>
                        <input class="form-control form-control-sm" type="text" placeholder=""
                            aria-label=".form-control-sm example" readonly>
                    </div>
                    <div class="col">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Client Province</label>
                        <input class="form-control form-control-sm" type="text" placeholder=""
                            aria-label=".form-control-sm example" readonly>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Client City</label>
                        <input class="form-control form-control-sm" type="text" placeholder=""
                            aria-label=".form-control-sm example" readonly>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Client Suburb</label>
                        <input class="form-control form-control-sm" type="text" placeholder=""
                            aria-label=".form-control-sm example" readonly>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Client Street</label>
                        <input class="form-control form-control-sm" type="text" placeholder=""
                            aria-label=".form-control-sm example" readonly>
                        <br>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-outline-danger" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>