<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Vehicle</title>
</head>

<body>
  <div class="modal-body" style="width: 25rem; height: auto;">
    <h3>Add Vehicle</h3>
    <div class="form-group">
      <div class="container">
        <div class="row">
          <div class="col">
            <div>
              <div>
                <div>
                  <br>
                  <form class="text-center">
                    <mat-form-field appearance="fill">
                      <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Vehicle Number Plate</mat-label>
                      <input matInput placeholder="Placeholder">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Vehicle Make</mat-label>
                      <input matInput placeholder="Placeholder" readonly>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Vehicle Model</mat-label>
                      <input matInput placeholder="Placeholder" readonly>
                    </mat-form-field>
                  </form>
                    <br>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button mat-stroked-button >Save</button>
                        <button mat-raised-button (click)="Close()" color="warn">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

