<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<!-- <mat-select formControlName="Title">
    <mat-option *ngFor="let item of titleList" [value]="item.titleId">
        {{item.titleDescription}}
    </mat-option>
</mat-select> -->

<body>
    <div class="modal-body" style="width: 60rem; height: 38rem;">
        <h3>Add Employee</h3>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <label class="col-form-label col-form-label-sm mt-4" for="inputSmall">Your Photo</label>
                        <input class="form-control form-control-sm" id="formFileSm" type="file" (change)="onFileSelected($event)"/>
                        <br>
                        <form>
                          <mat-form-field appearance="fill">
                            <mat-label>Your Title</mat-label>
                            <mat-select>
                              <mat-option value="one">Mr</mat-option>
                              <mat-option value="two">Mrs</mat-option>
                              <mat-option value="three">Ms</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="Your First Name" >
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Middle Name</mat-label>
                            <input matInput placeholder="Your Middle Name" >
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Surname</mat-label>
                            <input matInput placeholder="Your Surname" >
                          </mat-form-field>
                        </form>

                    </div>
                    <div class="col">
                      <form>
                        <mat-form-field appearance="fill">
                          <mat-label>Email Address</mat-label>
                          <input matInput placeholder="Your Email Address" >
                        </mat-form-field>
                      </form>
                      <mat-form-field appearance="fill">
                        <mat-label>Cellphone Number</mat-label>
                        <input matInput placeholder="Your Cellphone Number" >
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Emergency Contact First Name</mat-label>
                        <input matInput placeholder="Emergency Contact First Name" >
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Emergency Contact Surname</mat-label>
                        <input matInput placeholder="Emergency Contact Surname" >
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Emergency Contact Cellphone Number</mat-label>
                        <input matInput placeholder="Emergency Contact Cellphone Number" >
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <form>
                        <mat-form-field appearance="fill">
                        <mat-label>Employee Type</mat-label>
                        <mat-select>
                          <mat-option value="one">Owner</mat-option>
                          <mat-option value="two">Office Admin</mat-option>
                          <mat-option value="three">Operations Manager</mat-option>
                          <mat-option value="three">Worker</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>User Role</mat-label>
                        <mat-select>
                          <mat-option value="two">System Admin</mat-option>
                          <mat-option value="three">Employee</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>ID Number</mat-label>
                        <input matInput placeholder="Your ID Number" >
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Your Username" >
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Your Password" >
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Confirm Password" >
                      </mat-form-field>
                      </form>
                        <br>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button mat-raised-button (click)="onSubmit()">Save</button>
                            <button mat-raised-button (click)="Close()" color="warn">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
