<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<!-- <mat-select formControlName="Title">
    <mat-option *ngFor="let item of titleList" [value]="item.titleId">
        {{item.titleDescription}}
    </mat-option>
</mat-select> -->

<body>
    <div class="modal-body" style="width: 60rem; height: 31rem;">
        <h3>Add Employee</h3>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <label class="col-form-label col-form-label-sm mt-4" for="inputSmall">Your Photo</label>
                        <input class="form-control form-control-sm" id="formFileSm" type="file" (change)="onFileSelected($event)"/>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Your Title</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" type="text">
                            <option selected ngDefaultControl [(ngModel)]="employee.TitleId" ></option>
                            <option *ngFor="let item of titleList" [value]="item.titleId">{{item.titleDescription}}
                            </option>
                        </select>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">First Name</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Your First Name"
                            aria-label=".form-control-sm example" [(ngModel)]="employee.EmployeeFirstName">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Middle Name</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Your Middle Name"
                            aria-label=".form-control-sm example" [(ngModel)]="employee.EmployeeMiddleName">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Surname</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Your Surname"
                            aria-label=".form-control-sm example" [(ngModel)]="employee.EmployeeSurname">
                    </div>
                    <div class="col">
                        <label class="col-form-label col-form-label-sm mt-4" for="inputSmall">Email Address</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Your Email Address"
                            aria-label=".form-control-sm example" [(ngModel)]="employee.EmployeeEmailAddress">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Cellphone
                            Number</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Your Cellphone Number"
                            aria-label=".form-control-sm example" [(ngModel)]="employee.EmployeeCellPhoneNumber">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Contact Person First
                            Name</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Contact Person First Name"
                            aria-label=".form-control-sm example" [(ngModel)]="employee.EmployeeEmergencyContactFirstName">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Contact Person
                            Surname</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Contact Person Surname"
                            aria-label=".form-control-sm example" [(ngModel)]="employee.EmployeeEmergencyContactSurname">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Contact Person
                            Cellphone
                            Number</label>
                        <input class="form-control form-control-sm" type="text"
                            placeholder="Contact Person Cellphone Number" aria-label=".form-control-sm example"
                            [(ngModel)]="employee.EmployeeEmergencyContactNumber">
                    </div>
                    <div class="col">
                        <label class="col-form-label col-form-label-sm mt-4 mr-4" for="inputSmall">Employee
                            Type</label>
                        <label class="col-form-label col-form-label-sm mt-4 float-right" for="inputSmall">User
                            Roles</label>
                        <div class="input-group">

                            <!-- declaration for first field -->
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" type="text">
                                <option selected ngDefaultControl [(ngModel)]="employee.EmployeeTypeId"></option>
                                <option *ngFor="let item of typeList" [value]="item.employeeTypeId">
                                    {{item.employeeTypeName}}
                                </option>
                            </select>

                            <!-- reducong the gap between them to zero -->
                            <span class="input-group-btn" style="width:1px;"></span>

                            <!-- declaration for second field -->
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" type="text">
                                <option selected ngDefaultControl [(ngModel)]="employee.UserRoleId"></option>
                                <option *ngFor="let item of userRoleList" [value]="item.userRoleId">
                                    {{item.userRoleName}}
                                </option>
                            </select>
                        </div>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">ID Number</label>
                        <input class="form-control form-control-sm" type="text" placeholder="ID Number"
                            aria-label=".form-control-sm example" [(ngModel)]="employee.EmployeeIdNumber">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Username</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Username"
                            aria-label=".form-control-sm example" [(ngModel)]="employee.Username">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Password</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Password"
                            aria-label=".form-control-sm example" [(ngModel)]="employee.EmployeePassword">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Confirm
                            Password</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Confirm Password"
                            aria-label=".form-control-sm example">
                        <br>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-outline-success me-md-2" type="submit" (click)="onSubmit()">Save</button>
                            <button class="btn btn-outline-danger" (click)="Close()" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>