<div class="container-fluid">
  <div class="text-center">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/GFS logo.png" class="rounded mx-auto d-block" alt="GFSLogo" style="width: 15rem;" center>
      <div class="card-body">

        <p class="card-text">
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput>
          </mat-form-field>
          <a class="card-link" >Forgot Password?</a>
        </p>
        <button class="btn btn-success">Log-in</button>
      </div>
    </div>
  </div>
</div>

