<body>
        <div class="modal-body" style="width: auto; height: auto;">
                <h3>Edit User Role</h3>
                <div class="form-group">
                        <div class="container">
                                <div class="row">
                                        <div class="col">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                 <mat-label>User Role Name</mat-label>
                                                 <input matInput placeholder="">
                                                </mat-form-field>        
                                                
                                                <br>
                                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                        <button mat-stroked-button (click)="onSave()">Save</button>
                                                        <button mat-raised-button (click)="Close()" color="warn">Cancel</button>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</body>