<h1 mat-dialog-title>Add Supplier</h1>
<mat-dialog-content>
  <form class="text-center"  [formGroup]="form" (ngSubmit)="OnSubmit()">
    <mat-form-field appearance="fill">
      <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Supplier Name</mat-label>
      <input matInput placeholder="Placeholder" formControlName="SupplierName">
            <div class="errors">
                <ng-container *ngFor="let item of error_messages.SupplierName">
                    <div class="errors" *ngIf="
                  form.get('SupplierName').hasError(item.type) &&
                  (form.get('SupplierName').dirty ||
                    form.get('SupplierName').touched)">
                        {{ item.message }}
                    </div>
                </ng-container>
            </div>
    </mat-form-field>        
    <br>
    <mat-form-field appearance="fill">
      <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Supplier Contact Number</mat-label>
      <input matInput placeholder="Placeholder" formControlName="SupplierContactPersonNumber">
            <div class="errors">
                <ng-container *ngFor="let item of error_messages.SupplierContactPersonNumber">
                    <div class="errors" *ngIf="
                  form.get('SupplierContactPersonNumber').hasError(item.type) &&
                  (form.get('SupplierContactPersonNumber').dirty ||
                    form.get('SupplierContactPersonNumber').touched)">
                        {{ item.message }}
                    </div>
                </ng-container>
            </div>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Supplier Email</mat-label>
      <input matInput placeholder="Placeholder" formControlName="SupplierContactPersonEmail">
            <div class="errors">
                <ng-container *ngFor="let item of error_messages.SupplierContactPersonEmail">
                    <div class="errors" *ngIf="
                  form.get('SupplierContactPersonEmail').hasError(item.type) &&
                  (form.get('SupplierContactPersonEmail').dirty ||
                    form.get('SupplierContactPersonEmail').touched)">
                        {{ item.message }}
                    </div>
                </ng-container>
            </div>    
    </mat-form-field>    

    <br> 
    <label class="col-form-label col-form-label-sm mt-4" for="inputSmall">Supplier invoice</label>
      <input class="form-control form-control-sm" id="formFileSm" type="file" (change)="onFileSelected($event)" />

   <div align="end">
            <button mat-stroked-button [disabled]="!form.valid">Save</button>
        </div>
  </form>
    <div align="end">
        <button mat-raised-button (click)="Close()" color="warn">Cancel</button>
    </div>
</mat-dialog-content>




<!-- <form [formGroup]="supplierForm" (ngSubmit)="onSave()">
    <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Supplier Name</label>
    <input class="form-control form-control-sm" [ngClass]="
    (supplierForm.get('supplierName').touched || supplierForm.get('supplierName').dirty) &&
    supplierForm.get('supplierName').hasError('required')
    ? 'is-invalid' 
    : '' || supplierForm.get('supplierName').hasError('minlength')
    ? 'is-invalid'
    : '' ||
    ((supplierForm.get('supplierName').touched ||
    supplierForm.get('supplierName').dirty) &&
    !supplierForm.get('supplierName').invalid)
    ? 'is-valid'
    : ''" type="text" aria-label=".form-control-sm example" formControlName="supplierName">
    <div class="invalid-feedback">
    </div>
    <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Supplier Contact Number</label>
    <input class="form-control form-control-sm" [ngClass]="
    (supplierForm.get('supplierContactPersonNumber').touched || supplierForm.get('supplierContactPersonNumber').dirty) &&
    supplierForm.get('supplierContactPersonNumber').hasError('required')
    ? 'is-invalid'
    : '' ||
    ((supplierForm.get('supplierContactPersonNumber').touched ||
    supplierForm.get('supplierContactPersonNumber').dirty) &&
    !supplierForm.get('supplierContactPersonNumber').invalid)
    ? 'is-valid'
    : ''" type="text" aria-label=".form-control-sm example"
        formControlName="supplierContactPersonNumber">
    <div class="invalid-feedback">
    </div>
    <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Supplier Email</label>
    <input class="form-control form-control-sm" [ngClass]="
    (supplierForm.get('supplierContactPersonEmail').touched || supplierForm.get('supplierContactPersonEmail').dirty) &&
    supplierForm.get('supplierContactPersonEmail').hasError('required')
    ? 'is-invalid' 
    : '' || supplierForm.get('supplierContactPersonEmail').hasError('minlength')
    ? 'is-invalid'
    : '' ||
    ((supplierForm.get('supplierContactPersonEmail').touched ||
    supplierForm.get('supplierContactPersonEmail').dirty) &&
    !supplierForm.get('supplierContactPersonEmail').invalid)
    ? 'is-valid'
    : ''" type="text" aria-label=".form-control-sm example"
        formControlName="supplierContactPersonEmail">
    <div class="invalid-feedback">
    </div>
    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-outline-success me-md-2" [disabled]="supplierForm.invalid"
            type="submit">Save</button>
        <button class="btn btn-outline-danger" (click)="openCancelDialog()"
            type="button">Cancel</button>
    </div>
</form> -->