<h1 mat-dialog-title>Edit Service Type</h1>
<div mat-dialog-content>
<form class="text-center">
 <mat-form-field class="example-full-width" appearance="fill">
                         <mat-label>Service Type Name</mat-label>
                          <input matInput class="example-right-align" placeholder="Oil">
 </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Service Type Description</mat-label>
                          <textarea matInput placeholder="Ex. What the package includes..."></textarea>
                        </mat-form-field>
</form>                        
</div>
<div mat-dialog-actions>
  <button mat-stroked-button >Save</button>
  <button mat-raised-button (click)="Close()" color="warn">Cancel</button>
</div>
