<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Asset</title>
</head>

<body>
  <div class="modal-body" style="width: 20rem; height: 26rem;">
    <h3>Update Asset</h3>
    <div class="form-group">
      <div class="container">
        <div class="row">
          <div class="col">
            <div>
              <div>
                <div>
                  <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Asset Type</label>
                  <input class="form-control form-control-sm" type="text" placeholder="Vehicle"
                    aria-label=".form-control-sm example" readonly>
                  <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Asset Name</label>
                  <input class="form-control form-control-sm" type="text" placeholder="KIA K2700"
                    aria-label=".form-control-sm example" readonly>
                  <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Description</label>
                  <input class="form-control form-control-sm" type="text"
                    placeholder="A vehicle that transports skip bins" aria-label=".form-control-sm example">
                  <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Quantity</label>
                  <input class="form-control form-control-sm" type="text" placeholder="3"
                    aria-label=".form-control-sm example">
                  <br>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-success me-md-2" (click)="openConfirmDialog()"
                      type="button">Save</button>
                    <button class="btn btn-outline-danger" (click)="openCancelDialog()" type="button">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
