<h2 mat-dialog-title>Add Service Type</h2>
<mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="OnSubmit()">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Add Service Type Name</mat-label>
            <input matInput placeholder="" formControlName="ServiceTypeName">
            <div class="errors">
                <ng-container *ngFor="let item of error_messages.ServiceTypeName">
                    <div class="errors" *ngIf="
                  form.get('ServiceTypeName').hasError(item.type) &&
                  (form.get('ServiceTypeName').dirty ||
                    form.get('ServiceTypeName').touched)">
                        {{ item.message }}
                    </div>
                </ng-container>
            </div>           
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Service Type Description</mat-label>
          <input matInput placeholder="" formControlName="ServiceTypeDescription">
          <div class="errors">
              <ng-container *ngFor="let item of error_messages.ServiceTypeDescription">
                  <div class="errors" *ngIf="
                form.get('ServiceTypeDescription').hasError(item.type) &&
                (form.get('ServiceTypeDescription').dirty ||
                  form.get('ServiceTypeDescription').touched)">
                      {{ item.message }}
                  </div>
              </ng-container>
          </div>           
      </mat-form-field>
        
        <div align="end">
            <button mat-stroked-button >Save</button>
        </div>
    </form>
    <div align="end">
        <button mat-raised-button (click)="Close()" color="warn">Cancel</button>
    </div>
</mat-dialog-content>

<!--<label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Service Type Name</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Service Type Name"
                            aria-label=".form-control-sm example" [(ngModel)]="serviceType.ServiceTypeName">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Service Type Description</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Service Type Description"
                            aria-label=".form-control-sm example" [(ngModel)]="serviceType.ServiceTypeDescription">-->
    
    
    






