
<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">User Roles</div>
  <div class="page__content shadow p-3">
    <div class="page__content-data">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
      <br>
      <br>
        <div class="position-relative">
          <div class="position-absolute top-0 end-0 icon-hover">
            <mat-icon style="font-size: xx-large" (click)="routercreateuserrole()">add</mat-icon>
          </div>
        </div>
        <br>
      <div class="table-responsive">
        <table class="table table-hover align-middle">
          <thead>
            <tr>
              <th class="col-2">User Role ID</th>
              <th class="col-5">User Role Description</th>
              <th class="col-2">Edit</th>
              <th class="col-2">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Administrator</td>
              <td class="icon-hover">
                <mat-icon (click)="routeredituserrole()">edit</mat-icon>
              </td>
              <td class="icon-hover">
                <mat-icon (click)="routerdeleteuserrole()">delete</mat-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>