<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Service</title>
</head>

<body>
    <div class="modal-body" style="width: 25rem; height: 25rem;">
        <h3>Add Service</h3>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Service Name</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Service Name"
                            aria-label=".form-control-sm example">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Service Description</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Service Description"
                            aria-label=".form-control-sm example">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Service Type</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" type="text">
                            <option selected></option>
                            <option value="1">Domestic rubbish</option>
                            <option value="2">plastic</option>
                            <option value="3">oil</option>
                            <option value="3">compost and fertilizer</option>
                          </select>
                          <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Starting Price</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Starting Price"
                            aria-label=".form-control-sm example">
                            <br>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-outline-success me-md-2" type="button">Save</button>
                            <button class="btn btn-outline-danger" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
