<h1 mat-dialog-title>Add Service</h1>
<mat-dialog-content>
  <form class="text-center">
     <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Service Name</mat-label>
          <input matInput class="example-right-align" placeholder="">
     </mat-form-field>
     <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Service Description</mat-label>
                          <input matInput placeholder="DD/MM/YYYY">
     </mat-form-field>
     <form>
                           <mat-form-field appearance="fill">
                             <mat-label>Service Type</mat-label>
                             <mat-select>
                             <mat-option value="one">Collection & Disposal</mat-option>
                             <mat-option value="two">Skip</mat-option>
                             <mat-option value="three">Removal</mat-option>
                             </mat-select>
                           </mat-form-field>
                        </form>
                        <form>
                           <mat-form-field appearance="fill">
                             <mat-label>Service Price</mat-label>
                             <mat-select>
                             <mat-option value="one">R200</mat-option>
                             <mat-option value="two">R400</mat-option>
                             <mat-option value="three">R300</mat-option>
                             </mat-select>
                           </mat-form-field>
                        </form>                            
  </form>                        
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-stroked-button >Save</button>
  <button mat-raised-button (click)="Close()" color="warn">Cancel</button>
</div>