<h2 mat-dialog-title>Add Service</h2>
<mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="OnSubmit()">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Service Type</mat-label>
          <mat-select formControlName="ServiceTypeId" >
              <mat-option *ngFor="let item of serviceTypes" [value] = "item.serviceTypeId">
              {{item.serviceTypeName}}
              </mat-option>
          </mat-select>
    </mat-form-field>
    <br>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Add Service Name</mat-label>
            <input matInput placeholder="" formControlName="ServiceName">
            <div class="errors">
                <ng-container *ngFor="let item of error_messages.ServiceName">
                    <div class="errors" *ngIf="
                  form.get('ServiceName').hasError(item.type) &&
                  (form.get('ServiceName').dirty ||
                    form.get('ServiceName').touched)">
                        {{ item.message }}
                    </div>
                </ng-container>
              </div>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Service Description</mat-label>
          <input matInput placeholder="" formControlName="ServiceDescription">
          <div class="errors">
              <ng-container *ngFor="let item of error_messages.ServiceDescription">
                  <div class="errors" *ngIf="
                form.get('ServiceDescription').hasError(item.type) &&
                (form.get('ServiceDescription').dirty ||
                  form.get('ServiceDescription').touched)">
                      {{ item.message }}
                  </div>
              </ng-container>
          </div>
       </mat-form-field>
       <br>
       <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Service price</mat-label>
        <input matInput placeholder="" formControlName="ServicePriceId">
        <div class="errors">
            <ng-container *ngFor="let item of error_messages.ServicePriceId">
                <div class="errors" *ngIf="
              form.get('ServicePriceId').hasError(item.type) &&
              (form.get('ServicePriceId').dirty ||
                form.get('ServicePriceId').touched)">
                    {{ item.message }}
                </div>
            </ng-container>
        </div>
     </mat-form-field> -->
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Service Price</mat-label>
          <mat-select formControlName="ServicePriceId" >
                <mat-option *ngFor="let item of servicePrices" [value] = "item.servicePriceId">
                R{{item.servicePriceAmount}}
                </mat-option>
            </mat-select>
      </mat-form-field>
                <br>
             <!--<mat-form-field class="example-full-width" appearance="fill">
          <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Location</mat-label>
          <input matInput placeholder="" formControlName="LocationId">
          <div class="errors">
              <ng-container *ngFor="let item of error_messages.LocationId">
                  <div class="errors" *ngIf="
                form.get('LocationId').hasError(item.type) &&
                (form.get('LocationId').dirty ||
                  form.get('LocationId').touched)">
                      {{ item.message }}
                  </div>
              </ng-container>
               </div>
      </mat-form-field> -->

        <div align="end">
            <button mat-stroked-button >Save</button>
        </div>
    </form>
    <div align="end">
        <button mat-raised-button (click)="Close()" color="warn">Cancel</button>
    </div>
</mat-dialog-content>
