<div class="modal-content" >
      <div class="modal-header">
      <h4 class="modal-title">Employee Titles</h4>
        <button (click)=" Close()" type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
        <table class="table table-hover align-middle">
          <tbody>
            <tr *ngFor="let item of titleList" >
            <td class="col-5"><span>{{item.titleDescription}}</span></td>
                <td class="icon-hover">
                <mat-icon (click) ="routerEditEmployeeTitles(item.titleId, item.titleDescription)" >edit</mat-icon>
                </td>
                <td class="icon-hover">
                <mat-icon (click) ="onDelete(item.titleId)">delete</mat-icon>
                </td>
            </tr>
            <br>
            
        <button type="button" class="btn btn-success"(click) ="routerAddEmployeeTitles()">Add </button>


