<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Suppliers</div>
  <div class="page__content shadow p-3">
    <div class="page__content-data">
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
      <br>
      <div class="position-relative">
        <div class="position-absolute top-0 end-0 icon-hover">
          <mat-icon style="font-size: xx-large" (click)="routerAddSupplier()">add</mat-icon>
        </div>
      </div>
      <br>
      <br>
      <table mat-table [dataSource]="supplierList" class="mat-elevation-z8">
        <ng-container matColumnDef="suppliername">
          <th mat-header-cell *matHeaderCellDef> Supplier Name </th>
          <td mat-cell *matCellDef="let element"> {{element.supplierName}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Supplier Email </th>
          <td mat-cell *matCellDef="let element"> {{element.supplierContactPersonEmail}} </td>
        </ng-container>
        <ng-container matColumnDef="cellnumber">
          <th mat-header-cell *matHeaderCellDef> Supplier Cell number </th>
          <td mat-cell *matCellDef="let element"> {{element.supplierContactPersonNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <tr>
            <th mat-header-cell *matHeaderCellDef> Edit </th>
          </tr>
          <tr>
            <td mat-cell *matCellDef="let element" style="width:20%">
              <button mat-icon-button title="Edit Supplier">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-container matColumnDef="delete">
          <tr>
            <th mat-header-cell *matHeaderCellDef> Delete </th>
          </tr>
          <tr>
            <td mat-cell *matCellDef="let element" style="width:20%">
              <button mat-icon-button color="danger" title="Delete Supplier">
                <mat-icon (click)="DeleteSupplier(element.supplierId)">delete</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>

  