<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Service</title>
</head>

<body>
    <div class="modal-body" style="width: 15rem; height: auto;">
        <h3>Edit Service</h3>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col">
                       <mat-form-field class="example-full-width" appearance="fill">
                         <mat-label>Service Name</mat-label>
                         <input matInput placeholder="Collection and Disposal">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Service Description</mat-label>
                          <textarea matInput placeholder="Ex. What the package includes..."></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                         <mat-label>Service Type</mat-label>
                         <input matInput placeholder="Domestic Rubbish">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                         <mat-label>Starting Price</mat-label>
                         <input matInput placeholder="R450">
                        </mat-form-field>
                        
                            <br>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button mat-stroked-button >Save</button>
                        <button mat-raised-button (click)="Close()" color="warn">Cancel</button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
