<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Employee Settings</div>
  <div class="page__content shadow p-3">
    <div class="page__content-data">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      </div>
      <br>

  
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Employement statuses</h5>
      <p class="card-text">This is used to decribe the current employment status of each employee</p>
              <mat-icon (click) ="routerViewEmploymentStatuses()">remove_red_eye</mat-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
     <h5 class="card-title">Employee Titles</h5>
      <p class="card-text">This is used to decribe the title of each employee</p>
       <mat-icon (click) ="routerViewEmployeeTitles()">remove_red_eye</mat-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
     <h5 class="card-title">Employee Types</h5>
      <p class="card-text">This is used to decribe the types of each employee</p>
       <mat-icon (click) = "routerViewEmployeeTypes()">remove_red_eye</mat-icon>
    </div>
  </div>
  
      
        

          

          
         
