
<h1 mat-dialog-title>Add User Role</h1>
<div mat-dialog-content>
  <form class="text-center">
    <mat-form-field appearance="fill">
      <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Add User Role</mat-label>
      <input matInput placeholder="User Role">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onSave()" >Save</button>
  <button mat-raised-button (click)="Close()" mat-dialog-close color="warn">Close</button>
</div>