<h1 mat-dialog-title>Create Service Quotation</h1>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Issued Date</mat-label>
      <input matInput placeholder="" formControlName="IssuedDate">
      <div class="errors">
        <ng-container *ngFor="let item of error_messages.IssuedDate">
          <div class="errors" *ngIf="
          form.get('IssuedDate').hasError(item.type) &&
          (form.get('IssuedDate').dirty ||
          form.get('IssuedDate').touched)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
     </mat-form-field>
     <br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Quote Description</mat-label>
      <input matInput placeholder="" formControlName="QuoteDescription">
      <div class="errors">
        <ng-container *ngFor="let item of error_messages.QuoteDescription">
          <div class="errors" *ngIf="
          form.get('QuoteDescription').hasError(item.type) &&
          (form.get('QuoteDescription').dirty ||
          form.get('QuoteDescription').touched)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
     </mat-form-field>
     <br>
     <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Employee First Name</mat-label>
      <input matInput placeholder="" formControlName="EmployeeFirstName">
      <div class="errors">
        <ng-container *ngFor="let item of error_messages.EmployeeFirstName">
          <div class="errors" *ngIf="
          form.get('EmployeeFirstName').hasError(item.type) &&
          (form.get('EmployeeFirstName').dirty ||
          form.get('EmployeeFirstName').touched)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
     </mat-form-field>
     <!-- <br>
     <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Employee Surname</mat-label>
      <input matInput placeholder="" formControlName="EmployeeSurname">
      <div class="errors">
        <ng-container *ngFor="let item of error_messages.EmployeeSurname">
          <div class="errors" *ngIf="
          form.get('EmployeeSurname').hasError(item.type) &&
          (form.get('EmployeeSurname').dirty ||
          form.get('EmployeeSurname').touched)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
     </mat-form-field>
     <br>
     <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Employee Middle Name</mat-label>
      <input matInput placeholder="" formControlName="EmployeeMiddleName">
      <div class="errors">
        <ng-container *ngFor="let item of error_messages.EmployeeMiddleName">
          <div class="errors" *ngIf="
          form.get('EmployeeMiddleName').hasError(item.type) &&
          (form.get('EmployeeMiddleName').dirty ||
          form.get('EmployeeMiddleName').touched)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
     </mat-form-field> -->
     <br>
     <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Employee Email Address</mat-label>
      <input matInput placeholder="" formControlName="EmployeeEmailAddress">
      <div class="errors">
        <ng-container *ngFor="let item of error_messages.EmployeeEmailAddress">
          <div class="errors" *ngIf="
          form.get('EmployeeEmailAddress').hasError(item.type) &&
          (form.get('EmployeeEmailAddress').dirty ||
          form.get('EmployeeEmailAddress').touched)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
     </mat-form-field>
     <br>
     <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Quote Status Name</mat-label>
      <input matInput placeholder="" formControlName="QuoteStatusName">
      <div class="errors">
        <ng-container *ngFor="let item of error_messages.QuoteStatusName">
          <div class="errors" *ngIf="
          form.get('QuoteStatusName').hasError(item.type) &&
          (form.get('QuoteStatusName').dirty ||
          form.get('QuoteStatusName').touched)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
     </mat-form-field>
     <br>
     <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Company Name</mat-label>
      <input matInput placeholder="Confirmed" formControlName="CompanyName">
      <div class="errors">
        <ng-container *ngFor="let item of error_messages.CompanyName">
          <div class="errors" *ngIf="
          form.get('CompanyName').hasError(item.type) &&
          (form.get('CompanyName').dirty ||
          form.get('CompanyName').touched)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
     </mat-form-field>
     <br>
     <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Client Email Address</mat-label>
      <input matInput placeholder="" formControlName="ClientEmailAddress">
      <div class="errors">
        <ng-container *ngFor="let item of error_messages.ClientEmailAddress">
          <div class="errors" *ngIf="
          form.get('ClientEmailAddress').hasError(item.type) &&
          (form.get('ClientEmailAddress').dirty ||
          form.get('ClientEmailAddress').touched)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
     </mat-form-field>
     <br>
        <mat-form-field appearance="fill">
            <mat-label>Service Name</mat-label>
            <mat-select>
                <mat-option *ngFor="let service of serviceList" [value]="service.serviceId">
                    {{service.serviceName}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Service Type</mat-label>
            <mat-select>
                <mat-option *ngFor="let service of serviceList" [value]="service.serviceId">
                    {{service.serviceTypeName}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Service Price</mat-label>
            <mat-select>
                <mat-option *ngFor="let service of serviceList" [value]="service.serviceId">
                    {{service.servicePriceAmount}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
     <div align="end">
      <button mat-stroked-button>Save</button>
    </div>
  </form>
  <div align="end">
    <button mat-raised-button (click)="Close()" color="warn">Cancel</button>
  </div>
</mat-dialog-content>




<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Asset</title>
</head>

<body>
  <div class="modal-body" style="width: 35rem; height: 31rem;">
    <h3>Service Quotation</h3>
    <br>
    <div class="form-group">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="container border">
              <h5>Green Future Solutions</h5>
              <label>571 Setter Rd</label>
              <label>Glen Austin Place</label>
              <label>Midrand</label>
            </div>
            <br>
            <div class="container border">
              <h5>Tristan Ogle</h5>
              <label>512 Brittlewood Ave</label>
              <label>Thatchfield Glen</label>
              <label>Centurion</label>
            </div>
          </div>
          <div class="col">
            <table class="table table-bordered">
              <thead class="table-success">
                <tr>
                  <th><strong>Service Quote</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>5</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-bordered">
              <thead class="table-success">
                <tr>
                  <th><strong>Date</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2021/06/21</td>
                </tr>
              </tbody>

            </table>
          </div>

          <div>
            <br>
            <div class="text-center">
              <table class="table table-sm">
                <thead class="table-success">
                  <tr>
                    <th><strong>Description</strong></th>
                    <th><strong>Quantity</strong></th>
                    <th><strong>Amount</strong></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="Skip - Domestic Removal - 2 Day Rate"
                        aria-label=".form-control-sm example">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="1"
                        aria-label=".form-control-sm example">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="R650.00"
                      aria-label=".form-control-sm example">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="Collection - Oil"
                      aria-label=".form-control-sm example">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="1"
                      aria-label=".form-control-sm example">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="R0.00"
                      aria-label=".form-control-sm example">
                    </td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="Total Exl"
                      aria-label=".form-control-sm example">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="R552.50"
                      aria-label=".form-control-sm example">
                    </td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="VAT"
                      aria-label=".form-control-sm example">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="R97.50"
                      aria-label=".form-control-sm example">
                    </td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="Total"
                      aria-label=".form-control-sm example">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="R650.00"
                      aria-label=".form-control-sm example">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div>
            <br>
            <table class="table table-bordered">
              <thead class="table-success">
                <tr>
                  <th><strong>Bank Details</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Account Name:
                    <input class="form-control form-control-sm" type="text" placeholder=""
                        aria-label=".form-control-sm example">
                  </td>
                </tr>
                <tr>
                  <td>Account Number:
                    <input class="form-control form-control-sm" type="text" placeholder=""
                        aria-label=".form-control-sm example">
                  </td>
                </tr>
                <tr>
                  <td>Branch Code:
                    <input class="form-control form-control-sm" type="text" placeholder=""
                        aria-label=".form-control-sm example">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button mat-stroked-button  >Save</button>
            <button mat-raised-button (click)="Close()" color="warn" >Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html> -->
