<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Asset</title>
</head>

<body>
  <div class="modal-body" style="width: 35rem; height: auto;">
    <h3>Service Quotation</h3>
    <br>
    <div class="form-group">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="container border">
              <h5>Green Future Solutions</h5>
              <label>571 Setter Rd</label>
              <label>Glen Austin Place</label>
              <label>Midrand</label>
            </div>
            <br>
            <div class="container border">
              <h5>Tristan Ogle</h5>
              <label>512 Brittlewood Ave</label>
              <label>Thatchfield Glen</label>
              <label>Centurion</label>
            </div>
          </div>
          <div class="col">
            <table class="table table-bordered">
              <thead class="table-success">
                <tr>
                  <th><strong>Service Quote</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>5</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-bordered">
              <thead class="table-success">
                <tr>
                  <th><strong>Date</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2021/06/21</td>
                </tr>
              </tbody>

            </table>
          </div>

          <div>
            <br>
            <div class="text-center">
              <table class="table table-sm">
                <thead class="table-success">
                  <tr>
                    <th><strong>Description</strong></th>
                    <th><strong>Quantity</strong></th>
                    <th><strong>Amount</strong></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="Skip - Domestic Removal - 2 Day Rate"
                        aria-label=".form-control-sm example">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="1"
                        aria-label=".form-control-sm example">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="R650.00"
                      aria-label=".form-control-sm example">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="Collection - Oil"
                      aria-label=".form-control-sm example">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="1"
                      aria-label=".form-control-sm example">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="R0.00"
                      aria-label=".form-control-sm example">
                    </td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="Total Exl"
                      aria-label=".form-control-sm example">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="R552.50"
                      aria-label=".form-control-sm example">
                    </td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="VAT"
                      aria-label=".form-control-sm example">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="R97.50"
                      aria-label=".form-control-sm example">
                    </td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="Total"
                      aria-label=".form-control-sm example">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text" placeholder="R650.00"
                      aria-label=".form-control-sm example">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div>
            <br>
            <table class="table table-bordered">
              <thead class="table-success">
                <tr>
                  <th><strong>Bank Details</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Account Name:
                    <input class="form-control form-control-sm" type="text" placeholder=""
                        aria-label=".form-control-sm example">
                  </td>
                </tr>
                <tr>
                  <td>Account Number:
                    <input class="form-control form-control-sm" type="text" placeholder=""
                        aria-label=".form-control-sm example">
                  </td>
                </tr>
                <tr>
                  <td>Branch Code:
                    <input class="form-control form-control-sm" type="text" placeholder=""
                        aria-label=".form-control-sm example">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-success me-md-2" type="button">Save</button>
            <button class="btn btn-outline-danger" type="button">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
