<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Quote Statuses</div>
  <div class="page__content shadow p-3">
    <div class="page__content-data">
      <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div> -->
        <div class="position-relative">
          <div class="position-absolute top-0 end-0 icon-hover">
            <mat-icon style="font-size: xx-large" (click)="routerAddQuoteStatus()" >add</mat-icon>
          </div>
        </div>
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Quote Status ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="quoteStatus">
            <th mat-header-cell *matHeaderCellDef> Quote Status Name </th>
            <td mat-cell *matCellDef="let element"> {{element.quoteStatus}} </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <tr><th mat-header-cell *matHeaderCellDef>Edit</th></tr>
            <tr>
              <td mat-cell *matCellDef="let row" >
                 <button mat-icon-button  (click)="routerEditQuoteStatus()"><mat-icon>edit</mat-icon></button>
              </td>
            </tr>
          </ng-container>

          <ng-container matColumnDef="delete">
            <tr><th mat-header-cell *matHeaderCellDef>Delete</th></tr>
            <tr>
              <td mat-cell *matCellDef="let row">
                 <button mat-icon-button  ><mat-icon>delete</mat-icon></button>
              </td>
            </tr>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <br>
      <!-- <div class="table-responsive">
        <table class="table table-hover align-middle">
          <thead>
            <tr>
            <th class="col-5">Quote Status ID</th>
              <th class="col-5">Quote Status Name</th>
              <th class="col-2">Edit</th>
              <th class="col-2">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of quoteStatusList">
              <td><span>{{item.quoteStatusId}}</span></td>
              <td><span>{{item.quoteStatusName}}</span></td>
              <td class="icon-hover">
                <mat-icon (click)="routerEditQuoteStatus(item.quoteStatusId, item.quoteStatusName)">edit</mat-icon>
              </td>
              <td class="icon-hover">
                <mat-icon (click)="onDelete(item.quoteStatusId)">delete</mat-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

