<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Quote Status</div>
  <div class="page__content shadow p-3">
    <div class="page__content-data">
      <div class="position-relative">
        <div class="position-absolute top-0 end-0 icon-hover">
          <mat-icon (click)="routerAddQuoteStatus()" style="font-size: xx-large">add</mat-icon>
        </div>
      </div>
      <br>
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
      <table mat-table [dataSource]="quoteStatusList" class="mat-elevation-z8">
        <ng-container matColumnDef="quoteStatus">
          <th mat-header-cell *matHeaderCellDef> Quote Status Name </th>
          <td mat-cell *matCellDef="let element"> {{element.quoteStatusName}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <tr>
            <th mat-header-cell *matHeaderCellDef> Edit </th>
          </tr>
          <tr>
            <td mat-cell *matCellDef="let element" style="width:20%">
              <button mat-icon-button (click)="routerEditQuoteStatus(element.quoteStatusId, element.quoteStatusName)"
                title="Edit Payment Type">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-container matColumnDef="delete">
          <tr>
            <th mat-header-cell *matHeaderCellDef> Delete </th>
          </tr>
          <tr>
            <td mat-cell *matCellDef="let element" style="width:20%">
              <button mat-icon-button >
                <mat-icon (click)="DeleteQuoteStatus(element.quoteStatusId)">delete</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
      </table>
      <br>
    </div>
  </div>
</div>

