<div class="container-flu">
   <div class="text-center">
      <div class="card" style="width: 18rem;" >
          <img src="images/gfslogo.png" class="card-img-top" alt="gfslogo">
          <div class="card-body">
            <p class="card-text">
              <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput>
              </mat-form-field>
               <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput>
              </mat-form-field>
              <a href="#" class="card-link">Forgot password?</a>
            </p>  
            <button class="btn btn-success">Login</button>
          </div> 
      </div> 
   </div> 
</div>
