<body>
    <div class="modal-body" style="width: 15rem; height: 21rem;">
        <h3>Add Slot</h3>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Slot Date</label>
                        <input class="form-control form-control-sm" type="text" placeholder="2021-01-01"
                            aria-label=".form-control-sm example">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Start Slot Time</label>
                        <input type="time" id="inputMDEx1" class="form-control form-control-sm">
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">End Slot Time</label>
                        <input type="time" id="inputMDEx1" class="form-control form-control-sm">
                        <br>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-outline-success me-md-2" type="button">Save</button>
                            <button class="btn btn-outline-danger" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>