<h1 mat-dialog-title>Edit Quote Status</h1>
<div mat-dialog-content>
  <form class="text-center">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter Edited Quote Status</mat-label>
      <input matInput placeholder="Confirmed">
     </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button >Save</button>
  <button mat-raised-button mat-dialog-close color="warn">Close</button>
</div>


<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Quote Status</title>
</head>

<body>
    <div class="modal-body" style="width: 20rem; height: 12rem;">
        <h3>Edit Quote Status</h3>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col">
                           <mat-form-field class="example-full-width" appearance="fill">
                         <mat-label>Enter Edited Quote Status</mat-label>
                         <input matInput placeholder="Confirmed">
                        </mat-form-field>

                        <br>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button mat-raised-button>Save</button>
                            <button mat-raised-button (click)="Close()"
                                color="warn">Cancel</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html> -->
