<mat-card class="example-card">
  <mat-card-header>

    <mat-card-title>Request Quote for Service</mat-card-title>
    <mat-card-subtitle>Please fill in the details for the following input fields</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col">
        <label class="col-form-label col-form-label-sm mt-2 float-right" for="inputSmall">Service</label>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" type="text">
          <option selected>Click for options</option>
          <option value="1">Collection & Disposal</option>
          <option value="2">Skip Services</option>
          <option value="3">Delivery</option>
        </select>
        <label class="col-form-label col-form-label-sm mt-2 float-right" for="inputSmall">Service Type</label>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" type="text">
          <option selected>Click for options</option>
          <option value="1">Used Oil</option>
          <option value="2">Used Tyres</option>
          <option value="3">Scrap Metal</option>
          <option value="3">Paper & Cardboard</option>
          <option value="3">Bottles</option>
          <option value="3">Plastic</option>
        </select>
        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Service Details</label>
        <input class="form-control form-control-sm" type="text" placeholder="" aria-label=".form-control-sm example">
      </div>
      <div class="col">
        <label class="col-form-label col-form-label-sm mt-2 float-right" for="inputSmall">Province</label>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" type="text">
          <option selected>Click for options</option>
          <option value="1">Gauteng</option>
          <option value="2">Kwa-Zulu-Natal</option>

        </select>
        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Insert City</label>
        <input class="form-control form-control-sm" type="text" placeholder="Name of the City"
          aria-label=".form-control-sm example">
        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Insert Suburb</label>
        <input class="form-control form-control-sm" type="text" placeholder="Name of the Suburb"
          aria-label=".form-control-sm example">
        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Insert Street</label>
        <input class="form-control form-control-sm" type="text" placeholder="Name of the Street"
          aria-label=".form-control-sm example">
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-outline-success me-md-2" type="button">Request Quote</button>
      <button class="btn btn-outline-danger" type="button">Cancel</button>
    </div>
  </mat-card-actions>
</mat-card>
