<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Payment Types</div>
  <div class="page__content shadow p-3">
    <div class="page__content-data">
      <div class="position-relative">
        <div class="position-absolute top-0 end-0 icon-hover">
          <mat-icon (click)="routerAddPaymentType()" style="font-size: xx-large">add</mat-icon>
        </div>
      </div>
      <br>
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
      <table mat-table [dataSource]="paymentTypeList" class="mat-elevation-z8">
        <ng-container matColumnDef="paymenttypeid">
          <th mat-header-cell *matHeaderCellDef> Payment Id </th>
          <td mat-cell *matCellDef="let element"> {{element.paymentTypeId}} </td>
        </ng-container>
        <ng-container matColumnDef="paymenttype">
          <th mat-header-cell *matHeaderCellDef> Payment Type Name </th>
          <td mat-cell *matCellDef="let element"> {{element.paymentTypeName}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <tr>
            <th mat-header-cell *matHeaderCellDef> Edit </th>
          </tr>
          <tr>
            <td mat-cell *matCellDef="let element" style="width:20%">
              <button mat-icon-button (click)="routerEditPaymentType(element.paymentTypeId, element.paymentTypeName)"
                title="Edit Payment Type">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-container matColumnDef="delete">
          <tr>
            <th mat-header-cell *matHeaderCellDef> Delete </th>
          </tr>
          <tr>
            <td mat-cell *matCellDef="let element" style="width:20%">
              <button mat-icon-button >
                 <mat-icon (click)="DeletePaymentType(element.paymentTypeId)">delete</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
      </table>
      <br>
    </div>
  </div>
</div>
