<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Vehicle</title>
</head>

<body>
  <div class="modal-body" style="width: 25rem; height: auto;">
    <h3>Add Vehicle</h3>
    <div class="form-group">
      <div class="container">
        <div class="row">
          <div class="col">
            <div>
              <div>
                <div>
                  <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Vehicle Number Plate</label>
                  <input class="form-control form-control-sm" type="text" placeholder="Vehicle number plate"
                    aria-label=".form-control-sm example" [(ngModel)]="vehicle.VehicleNumberPlate">
                  <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Vehicle Make</label>
                  <input class="form-control form-control-sm" type="text" placeholder="Vehicle Make"
                    aria-label=".form-control-sm example"  [(ngModel)]="vehicle.VehicleMake">
                  <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Vehicle Model</label>
                  <input class="form-control form-control-sm" type="text" placeholder="Vehicle Model"
                    aria-label=".form-control-sm example" [(ngModel)]="vehicle.VehicleModel">
                    <br>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-success me-md-2"
                      type="button" (click)="onSave()">Save</button>
                    <button class="btn btn-outline-danger" (click)="Close()" type="button">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
