<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="modal-body" style="width: 40rem; height: 43rem;">
        <h3>{{data.employeeSurname}} {{data.employeeEmailAddress}}</h3>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <br>
                        <div class="row justify-content-center">
                            <img  alt="" class="user-image" />
                        </div>
                        <br>
                        <label class="col-form-label col-form-label-sm mt-3" for="inputSmall">Title</label>
                        <input class="form-control form-control-sm" type="text" placeholder="{{data.employeeFirstName}}"
                            aria-label=".form-control-sm example" [(ngModel)]="employee.EmployeeFirstName" readonly>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">First Name</label>
                        <input class="form-control form-control-sm" type="text" placeholder="{{data.employeeSurname}}"
                            aria-label=".form-control-sm example" [(ngModel)]="employee.EmployeeSurname" readonly>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Middle Name</label>
                        <input class="form-control form-control-sm" type="text" placeholder=""
                            aria-label=".form-control-sm example" readonly>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Surname</label>
                        <input class="form-control form-control-sm" type="text" placeholder="{{data.employeeEmailAddress}}"
                            aria-label=".form-control-sm example"  [(ngModel)]="employee.EmployeeEmailAddress" readonly>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Email Address</label>
                        <input class="form-control form-control-sm" type="text" placeholder="{{data.employeeCellPhoneNumber}}"
                            aria-label=".form-control-sm example"  [(ngModel)]="employee.EmployeeCellPhoneNumber" readonly>
                    </div>
                    <div class="col">
                        <label class="col-form-label col-form-label-sm mt-1" for="inputSmall">Cellphone Number</label>
                        <input class="form-control form-control-sm" type="text" placeholder="{{data.employeeEmergencyContactFirstName}}"
                            aria-label=".form-control-sm example"  [(ngModel)]="employee.EmployeeEmergencyContactFirstName" readonly>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Contact Person First
                            Name</label>
                        <input class="form-control form-control-sm" type="text" placeholder="{{data.employeeEmergencyContactSurname}}"
                            aria-label=".form-control-sm example"  [(ngModel)]="employee.EmployeeEmergencyContactSurname" readonly>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Contact Person
                            Surname</label>
                        <input class="form-control form-control-sm" type="text" placeholder="{{data.employeeEmergencyContactNumber}}"
                            aria-label=".form-control-sm example"  [(ngModel)]="employee.EmployeeEmergencyContactNumber" readonly>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Contact Person
                            CellphoneNumber</label>
                        <input class="form-control form-control-sm" type="text" placeholder="0825673214"
                            aria-label=".form-control-sm example" readonly>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Employee Type</label>
                        <input class="form-control form-control-sm" type="text" placeholder=""
                            aria-label=".form-control-sm example" readonly>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">User Role</label>
                        <input class="form-control form-control-sm" type="text" placeholder=""
                            aria-label=".form-control-sm example" readonly>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">ID Number</label>
                        <input class="form-control form-control-sm" type="text" placeholder=""
                            aria-label=".form-control-sm example" readonly>
                        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Username</label>
                        <input class="form-control form-control-sm" type="text" placeholder=""
                            aria-label=".form-control-sm example" readonly>
                        <br>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-outline-danger" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>