<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="modal-body" style="width: 40rem; height: 45rem;">
        <h3>{{data.employeeSurname}} {{data.employeeEmailAddress}}</h3>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <br>
                        <div class="row justify-content-center">
                            <img  alt="" class="user-image" />
                        </div>
                        <br>
                        <form>
                          <mat-form-field appearance="fill">
                            <mat-label>Title</mat-label>
                            <input matInput placeholder="" readonly>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="" readonly>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Middle Name</mat-label>
                            <input matInput placeholder="" readonly>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Surname</mat-label>
                            <input matInput placeholder="" readonly>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>Email Address</mat-label>
                            <input matInput placeholder="" readonly>
                          </mat-form-field>

                        </form>
                    </div>
                    <div class="col">
                      <form>
                        <mat-form-field appearance="fill">
                          <mat-label>Cellphone Number</mat-label>
                          <input matInput placeholder="" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Emergency Contact First Name</mat-label>
                          <input matInput placeholder="" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Emergency Contact Surname</mat-label>
                          <input matInput placeholder="" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Emergency Contact Cellphone Number</mat-label>
                          <input matInput placeholder="" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Employee Type</mat-label>
                          <input matInput placeholder="" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>User Role</mat-label>
                          <input matInput placeholder="" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>ID Number</mat-label>
                          <input matInput placeholder="" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Username</mat-label>
                          <input matInput placeholder="" readonly>
                        </mat-form-field>
                      </form>
                        <br>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                          <button mat-raised-button (click)="Close()" color="warn">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
