<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Complaint</title>
</head>

<body>
  <div class="modal-body" style="width: 45rem; height: 30rem;">
    <h3>Rowan Gauld</h3>
    <div class="form-group">
      <div class="container">
        <div class="row">
          <div class="col">
            <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">UserName</label>
            <input class="form-control form-control-sm" type="text" placeholder="RG11@gmail.com"
              aria-label=".form-control-sm example" readonly>

            <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">ComplaintID</label>
            <input class="form-control form-control-sm" type="text" placeholder="001"
              aria-label=".form-control-sm example" readonly>

            <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Complaint Date</label>
            <input class="form-control form-control-sm" type="text" placeholder="2021/08/14"
              aria-label=".form-control-sm example" readonly>

            <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Complaint Description</label>
            <textarea class="form-control form-control-sm" type="textarea" aria-label=".form-control-sm example"
              placeholder="The driver did not show up on time." readonly></textarea>

            <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Rating</label>
            <input class="form-control form-control-sm" type="text" placeholder="2 stars"
              aria-label=".form-control-sm example" readonly>
            <br>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-outline-danger" type="button">Close</button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</body>

</html>

