<h2 mat-dialog-title>Edit Package Rate</h2>
<mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="OnSubmit()">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Package Rate Amount</mat-label>
            <input matInput placeholder="" formControlName="PackagePrice">
            <div class="errors">
                <ng-container *ngFor="let item of error_messages.PackagePrice">
                    <div class="errors" *ngIf="
                  form.get('PackagePrice').hasError(item.type) &&
                  (form.get('PackagePrice').dirty ||
                    form.get('PackagePrice').touched)">
                        {{ item.message }}
                    </div>
                </ng-container>
            </div>
        </mat-form-field>
        <br>
              <mat-form-field appearance="fill">
          <mat-label >Package Rate Date</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="2021/09/20" formControlName="PackagePriceDate">
          <div class="errors">
              <ng-container *ngFor="let item of error_messages.PackagePriceDate">
                  <div class="errors" *ngIf="
                form.get('PackagePriceDate').hasError(item.type) &&
                (form.get('PackagePriceDate').dirty ||
                  form.get('PackagePriceDate').touched)">
                      {{ item.message }}
                  </div>
              </ng-container>
          </div>           
          <mat-datepicker-toggle matsuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
     <!--<mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Service Type Description</mat-label>
            <input matInput placeholder="" formControlName="ServicePriceDate">
            <div class="errors">
                <ng-container *ngFor="let item of error_messages.ServicePriceDate">
                    <div class="errors" *ngIf="
                  form.get('ServicePriceDate').hasError(item.type) &&
                  (form.get('ServicePriceDate').dirty ||
                    form.get('ServicePriceDate').touched)">
                        {{ item.message }}
                    </div>
                </ng-container>
            </div>
        </mat-form-field>
        -->   
        <div align="end">
            <button mat-stroked-button [disabled]="!form.valid">Save</button>
        </div>
    </form>
    
    <div align="end">
        <button mat-raised-button (click)="Close()" color="warn">Cancel</button>
    </div>
    
</mat-dialog-content>