<mat-toolbar>
    <span class="Hover" routerLink="/staticpagehome">Home</span>
    <span class="example-spacer"></span>
    <span class="Hover" routerLink="/whatwedo">What We Do</span>
    <span class="example-spacer"></span>
    <span class="Hover">Contact Us</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon class="Hover" routerLink="/user">power_settings_new</mat-icon>
    </button>
</mat-toolbar>
<div>
    <img src="./assets/NatureImage1.jpg" alt="Hello" class="img">
    <div class="position">
        <div class="row">
            <div class="col">
                <mat-card class="card">
                    <mat-card-content>
                        <h4 class="title">
                            Used Oil
                        </h4>
                    </mat-card-content>
                    <img src="./assets/usedoil.png" alt="Hello" class="img-1">
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="card">
                    <mat-card-content>
                        <h4 class="title">
                            Used Tyres
                        </h4>
                    </mat-card-content>
                    <img src="./assets/usedtyres.png" alt="Hello" class="img-1">
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="card">
                    <mat-card-content>
                        <h4 class="title">
                            Paper and Cardboard
                        </h4>
                    </mat-card-content>
                    <img src="./assets/paper.png" alt="Hello" class="img-1">
            </mat-card>
            </div>
            <div class="col">
                 <mat-card class="card">
                    <mat-card-content>
                        <h4 class="title">
                            Plastic
                        </h4>
                    </mat-card-content>
                        <img src="./assets/plastic.png" alt="Hello" class="img-1">
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="card">
                    <mat-card-content>
                        <h4 class="title">
                            Scrap Metal
                        </h4>
                    </mat-card-content>
                       <img src="./assets/metal.png" alt="Hello" class="img-1">
               </mat-card>
           </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-card class="card">
                    <mat-card-content>
                        <h4 class="title">
                            Garden Waste Removal
                        </h4>
                    </mat-card-content>
                    <img src="./assets/DomesticCollection.png" alt="Hello" class="img-1">
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="card">
                    <mat-card-content>
                        <h4 class="title">
                            Domestic Rubbish Removal
                        </h4>
                    </mat-card-content>
                    <img src="./assets/DomesticRemoval1.png" alt="Hello" class="img-1">
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="card">
                    <mat-card-content>
                        <h4 class="title">
                            Construction Rubble Removal
                        </h4>
                    </mat-card-content>
                    <img src="./assets/Construction.png" alt="Hello" class="img-1">
                </mat-card>
            </div>
            <div class="col">
                 <mat-card class="card">
                    <mat-card-content>
                        <h4 class="title">
                            Sanda and topsoil delivery
                        </h4>
                    </mat-card-content>
                        <img src="./assets/SandStone.png" alt="Hello" class="img-1">
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="card">
                    <mat-card-content>
                        <h4 class="title">
                            Compost delivery
                        </h4>
                    </mat-card-content>
                       <img src="./assets/Fertilizer.png" alt="Hello" class="img-1">
               </mat-card>
           </div>
        </div>

    </div>
    <app-footer></app-footer>