<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Booking Details</title>
</head>

<body>
  <div class="modal-body" style="width: 45rem; height: 35rem;">
    <h3>Client Name</h3>
    <div class="form-group">
      <div class="container">
        <div class="row">
          <div class="col">
            <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Booking number</label>
            <input class="form-control form-control-sm" type="text" placeholder=""
              aria-label=".form-control-sm example" readonly>

            <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Service</label>
            <input class="form-control form-control-sm" type="text" placeholder=""
              aria-label=".form-control-sm example" readonly>

            <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Service Details</label>
            <textarea class="form-control form-control-sm" type="textarea" aria-label=".form-control-sm example"
              placeholder="" readonly></textarea>


            <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Booking Date</label>
            <input class="form-control form-control-sm" type="text" placeholder="2021/08/14"
              aria-label=".form-control-sm example" readonly>
         

            <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Booking Time</label>
            <input class="form-control form-control-sm" type="text" placeholder=""
              aria-label=".form-control-sm example" readonly>

            <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Location</label>
            <input class="form-control form-control-sm" type="text" placeholder=""
              aria-label=".form-control-sm example" readonly>


            <br>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
               <button mat-raised-button (click)="Close()" color="warn">Cancel</button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</body>

</html>

