<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Vehicles</div>
  <div class="page__content shadow p-3">
    <div class="page__content-data">
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
      <br>
      <div class="position-relative">
        <div class="position-absolute top-0 end-0 icon-hover">
          <mat-icon style="font-size: xx-large" (click)="routerAddvehicle()">add</mat-icon>
        </div>
      </div>
      <br>
      <br>
      <table mat-table [dataSource]="vehicleList" class="mat-elevation-z8">

        <ng-container matColumnDef="numberPlate">
          <th mat-header-cell *matHeaderCellDef> Vehicle Number Plate </th>
          <td mat-cell *matCellDef="let element"> {{element.vehicleNumberPlate}} </td>
        </ng-container>
        <ng-container matColumnDef="make">
          <th mat-header-cell *matHeaderCellDef> Vehicle Make </th>
          <td mat-cell *matCellDef="let element"> {{element.vehicleMake}} </td>
        </ng-container>

        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef> Vehicle Model </th>
          <td mat-cell *matCellDef="let element"> {{element.vehicleModel}} </td>
        </ng-container>

        <ng-container matColumnDef="availability">
          <th mat-header-cell *matHeaderCellDef> Vehicle Availability </th>
          <td mat-cell *matCellDef="let element"> {{element.vehicleAvailable}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <tr>
            <th mat-header-cell *matHeaderCellDef> Edit </th>
          </tr>
          <tr>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button>
                <mat-icon (click)="routerEditVehicle(element.vehicleId, element.vehicleNumberPlate, element.vehicleMake, element.vehicleModel, element.vehicleAvailable)">edit</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>

         <ng-container matColumnDef="delete">
          <tr>
            <th mat-header-cell *matHeaderCellDef> Delete </th>
          </tr>
          <tr>
            <td mat-cell *matCellDef="let element" style="width:20%">
              <button mat-icon-button color="danger" title="Delete Vehicle">
                <mat-icon (click)="DeleteVehicle(element.vehicleId)">delete</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    </div>
  </div>
