<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Package Rate</title>
</head>

<body>
    <div class="modal-body" style="width: 20rem; height: 18rem;">
        <h3>Add Package Rate</h3>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col">
                    <form class="text-center">
                        <mat-form-field class="example-full-width" appearance="fill">
                         <mat-label>Package Rate Price</mat-label>
                         <input matInput placeholder="">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Date of Price Rate</mat-label>
                         <input matInput placeholder="DD/MM/YYYY">
                        </mat-form-field>
                    </form>    
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-outline-success me-md-2"
                                type="button" (click)="onSave()">Save</button>
                            <button class="btn btn-outline-danger" 
                                type="button" (click)="Close()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>


