<h2 mat-dialog-title>Edit Payment Type</h2>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="OnSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Update Payment Type</mat-label>
    <input matInput placeholder="" formControlName="PaymentTypeName">
    <div class="errors">
      <ng-container *ngFor="let item of error_messages.PaymentTypeName" >
        <div class="errors" *ngIf="
        form.get('PaymentTypeName').hasError(item.type) &&
        (form.get('PaymentTypeName').dirty ||
        form.get('PaymentTypeName').touched)" >
        {{item.message}}
        </div>
      </ng-container>
    </div>
   </mat-form-field>
   <div align="end">
    <button mat-stroked-button [disabled]="!form.valid">Save</button>
   </div>
</form>
<div align="end">
  <button mat-raised-button (click)="Close()" color="warn">Cancel</button>
</div>
</mat-dialog-content>


<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Payment Type</title>
    <br>
</head>

<body>
    <div class="modal-body" style="width: 20rem; height: auto;">
        <h3>Edit Payment Type</h3>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col">
                    <form class="text-center">
                         <mat-form-field class="example-full-width" appearance="fill">
                         <mat-label>Update Payment Type</mat-label>
                         <input matInput placeholder="">
                        </mat-form-field>
                    </form>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button mat-stroked-button >Save</button>
                        <button mat-raised-button (click)="Close()" color="warn">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html> -->
