<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Asset</title>
</head>

<body>
  <div class="modal-body" style="width: 25rem; height: auto;">
    <h3>Estimate Cost</h3>
    <div class="form-group">
      <div class="container">
        <div class="row">
          <div class="col">
            <div>
              <div>
                <div>
                  <br>
                  <div class="text-center">
                    <table class="table table-md">
                      <thead class="table-success">
                        <tr>
                          <th><strong>Details</strong></th>
                          <th><strong>Price</strong></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Service Fee</td>
                          <td>R250.00</td>
                        </tr>
                        <tr>
                          <td>Distance Fee</td>
                          <td>R50.00</td>
                        </tr>
                        <tr>
                          <td><strong>Total</strong></td>
                          <td><strong>R300.00</strong></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <br>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-success me-md-2" type="button">Request Quote</button>
                    <button class="btn btn-outline-danger" type="button">Exit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
