<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Schedule</div>
    <div class="page__content shadow p-3">
        <div class="page__content-data">
            <div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="routerAddSlot()">Add</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Edit</button>
                  </div>
                  <br>
                <div class="container">
                    <div class="card">
                        <h3 class="card-header" id="monthAndYear"></h3>
                        <table class="table table-bordered table-responsive" id="calendar">
                            <thead>
                                <tr>
                                    <th>Sun</th>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wed</th>
                                    <th>Thu</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                </tr>
                            </thead>

                            <tbody id="calendar-body">
                            </tbody>
                        </table>

                        <div class="form-inline d-flex justify-content-center">

                            <button class="btn btn-outline-success col-sm-2 m-1" id="previous"
                                >Previous</button>

                            <button class="btn btn-outline-success col-sm-2 m-1" id="next"
                                >Next</button>
                        </div>
                        <br />

                    </div>
                </div>
            </div>
        </div>
    </div>
