<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Schedule</div>
  <div class="page__content shadow p-3">
    <div class="page__content-data">

      <div class="container text-center">

        <full-calendar [options]="calendarOptions"></full-calendar>
        <br>
        <button class="btn btn-outline-primary me-md-2" type="button" (click)="routerAddBookingSlot()">Add Slot</button>
        <button class="btn btn-outline-primary" type="button">Update Slot</button>
      </div>
