<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2"></div>
  <div class="page__content shadow p-3">
    <div class="page__content-data">

      <mat-toolbar color="primary">
        Reusable Confirmation Dialog
      </mat-toolbar>

      <button mat-raised-button (click)="yesNoDialog()">
        Open Yes/No Dialog
      </button>

      <button mat-raised-button (click)="confirmCancelDialog()">
        Open Confirm/Cancel Dialog
      </button>
    </div>
  </div>
</div>