<!DOCTYPE html>
<html lang="en">

<body>
  <div class="modal-body" style="width: auto; height: 30rem;">
    <h3>*Collection Note Number*</h3>
    <div class="form-group">
      <div class="container">
        <div class="row">
          <div class="col">
            <br>

            <h5>Client Details</h5>
            <form>
              <mat-form-field appearance="fill">
                <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Client Name</mat-label>
                <input matInput placeholder="Manesha" readonly>
              </mat-form-field>
            </form>
            <form>
              <mat-form-field appearance="fill">
                <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Client Cellphone Number
                </mat-label>
                <input matInput placeholder="071 872 1911" readonly>
              </mat-form-field>
            </form>
            <form>
              <mat-form-field appearance="fill">
                <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Client Location</mat-label>
                <input matInput placeholder="28 Farmer's Folly" readonly>
              </mat-form-field>
            </form>
          </div>

          <div class="col">
            <br>
            <h5>Employee Details</h5>
            <form>
              <mat-form-field appearance="fill">
                <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Employee Name</mat-label>
                <input matInput placeholder="Rowan" readonly>
              </mat-form-field>
            </form>
            <form>
              <mat-form-field appearance="fill">
                <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Employee Cellphone Number
                </mat-label>
                <input matInput placeholder="03 560 6982" readonly>
              </mat-form-field>
            </form>
            <form>
              <mat-form-field appearance="fill">
                <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Employee ID Number</mat-label>
                <input matInput placeholder="3841" readonly>
              </mat-form-field>
            </form>
          </div>

          <div class="col">
            <br>
            <h5>Collection Details</h5>
            <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Date:</label><br>
            <form>
              <mat-form-field appearance="fill">
                <mat-label>Select a date</mat-label>
                <input matInput [matDatepicker]="picker" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </form>
            <form>
              <mat-form-field appearance="fill">
                <mat-label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Time In</mat-label>
                <input matInput type="time" readonly>
              </mat-form-field>
            </form>
          </div>

        </div>
      </div>

      <br>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button mat-stroked-button >Save</button>
                        <button mat-raised-button  color="warn" (click)="Close()">Cancel</button>
      </div>
    </div>
  </div>
</body>

</html>

